<h1>Listing matters</h1>

<h2>Count: <%= @matters.count %></h2>
<table>
  <thead>
    <tr>
      <th>Case number</th>
      <th>Judge</th>
      <th>Commissioner</th>
      <th>Client</th>
      <th>Opp</th>
      <th>Court</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>


  <tbody>
    
    <% @matters.each do |matter| %>
      <tr>
        <td><%= matter.id %></td>
        <td><%= matter.display_number %></td>
        <td><%= matter.commissioner_id %></td>
        <td><%= matter.client_id %></td>
        <td><%= matter.opp_id %></td>
        <td><%= matter.court_id %></td>
        <td><%= link_to 'Show', matter %></td>
        <td><%= link_to 'Edit', edit_matter_path(matter) %></td>
        <td><%= link_to 'Destroy', matter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matter', new_matter_path %>
